{% extends "blog/base.html" %}
{% block content %}
  <h1>Printing Services</h1>
  <p>Select Printing Services.</p>
  <ul>
    <li><a href="#">Receipt Books</a></li>
    <li><a href="#">ID size Cards</a></li>
    <li><a href="#">Name Tags</a></li>
    <li><a href="#">Water Labels</a></li>
    <li><a href="#">Invitation Cards</a></li>
    <li><a href="#">Institution Certificates</a></li>
    <li><a href="#">Posters/Flyers</a></li>
    <li><a href="#">Printing, Copying & Scanning</a></li>
    <li><a href="#">Others</a></li>
  </ul>
{% endblock %}

