{% extends "blog/base.html" %}
{% block content %}
{% if not user.is_authenticated %}
<small class="text-muted">
  <i></i> Please Log In to generate and download your Resources
</small>  
{% endif %}
<h1>Students' Resources</h1>
  <ul>
    <li><a href="{% url 'schemes-of-work' %}">Schemes of Work</a></li>
    <li><a href="#">Notes</a></li>
    <li><a href="#">Exam Papers</a></li>
    <li><a href="#">Holiday Assignments</a></li>
    <li><a href="#">IT and Tech Resources</a></li>
    <li><a href="#">Others</a></li>
    <li><a href="{% url 'resources-history' %}">Resources History</a></li>
  </ul>
{% endblock %}

