{% extends "blog/base.html" %}
{% block content %}
  <h1>Cyber Services</h1>
  <p>Select Online Service</p>
  <ul>
    <li><a href="#">NTSA Services</a></li>
    <li><a href="#">KRA Services</a></li>
    <li><a href="#">Business Registration Service</a></li>
    <li><a href="#">Immigration (Passport) Services</a></li>
    <li><a href="#">DCI (Good Conduct) Services</a></li>
    <li><a href="#">Registration Bureau (ID) Services</a></li>
    <li><a href="#">Other Services</a></li>
  </ul>
{% endblock %}


